*,::before,::after{
    padding:0;
    margin: 0;
    /*清除移动端默认的点击高亮效果*/
    -webkit-tap-highlight-color:transparent;
    /*设置所有东西都以边框开始计算宽度 百分比*/
    -webkit-box-sizing:border-box;
    box-sizing:border-box;/*兼容*/
    font-family: "Microsoft YaHei",sans-serif;
    color: #333;
}
html{
    width: 100%;
    height: 100%;

}
body{
    width: 100%;
    height: 100%;  
}
.bj1,.bj2,.bj3,.bj4,.bj5,.bj6,.bj7{
    width: 100%;
    height: 100%;
    background-color:rgb(56,103,176);
    border:solid 20px rgb(54,98,165);
    position: relative;
}
.bj2{
    background-color:rgb(140,206,211);
    border:solid 20px rgb(45,115,145);
}
.bj3{
    background-color:rgb(167,186,208);
    border:solid 20px rgb(42,77,159);
}
.bj4{
    background-color:rgb(249,211,203);
    border:solid 20px rgb(221,85,93);
}
.bj5{
    background-color:rgb(82,123,188);
    border:solid 20px rgb(23,62,134);
}
.bj6{
    background-color:rgb(140,152,203);
    border:solid 20px rgb(81,73,130);
}
.bj7{
    background-color:rgb(243,196,29);
    border:solid 20px rgb(221,85,93);
}
.back{ 
    position: absolute;
    width: 30%;
    top: 25%;
    left: 35%;
   /* background: url(./img/pc/index/photo.png);
    background-repeat: no-repeat;
    background-size: 100%;*/
}
.back1{ 
    position: absolute;
    z-index: 100;
    width:100%;
    height: 100%;
    background: url(../img/pc/index/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
}